In [206]:
import tensorflow as tf
import pandas as pd 
import tensorflow_io as tfio 
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import os
from sklearn.cluster import KMeans

In [207]:
main_dir=("/home/tkrsh/osic-main/")

files=[]

for dirname, _, filenames in os.walk(main_dir):
    for filename in (filenames):
        files.append(os.path.join((dirname), filename))

files=[x for x in files if '.csv' not in x]

train_images= [str(x) for x in files if 'train'  in x]
test_images = [str(x) for x in files if 'test'   in x]

In [208]:
def decode_image(image_path):
    image_bytes = tf.io.read_file(image_path)
    image = tfio.image.decode_dicom_image(image_bytes, dtype=tf.uint16)
    image=np.squeeze(image.numpy())
    return image

def show_scan(image):
    img = decode_image(image)
    patient_name=str(image).split('/')[1]
    fig, ax = plt.subplots()
    im=ax.imshow(img,cmap='Greys')
    plt.axis('off')
    plt.title("Baseline CT Scan of Patient {}".format(patient_name))
    fig.set_size_inches(9,9)
    plt.show()

In [209]:
train=pd.read_csv(main_dir+"train.csv")
df=train.copy()

In [210]:
df.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [233]:
df=train.copy()

In [234]:
df=pd.concat([df,pd.get_dummies(df['Sex'])],axis=1).drop(['Sex'],axis=1)

In [235]:
df=pd.concat([df,pd.get_dummies(df['SmokingStatus'])],axis=1).drop(['SmokingStatus'],axis=1)

In [236]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked
0,ID00007637202177411956430,-4,2315,58.253649,79,0,1,0,1,0
1,ID00007637202177411956430,5,2214,55.712129,79,0,1,0,1,0
2,ID00007637202177411956430,7,2061,51.862104,79,0,1,0,1,0
3,ID00007637202177411956430,9,2144,53.950679,79,0,1,0,1,0
4,ID00007637202177411956430,11,2069,52.063412,79,0,1,0,1,0

In [341]:
test.head()

,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,6,3020,70.186855,73,0.0,0.000000,0.0,0,1,0,1,1,0,0,0
1,15,2739,82.045291,68,-281.0,11.858436,9.0,1,0,0,1,1,0,0,0
2,6,1930,76.672493,73,-809.0,-5.372798,-9.0,0,1,0,1,1,0,0,0
3,17,3294,79.258903,72,1364.0,2.586410,11.0,0,0,1,1,1,0,0,0
4,0,2925,71.824968,73,-369.0,-7.433935,-17.0,0,1,0,1,0,1,0,0

In [314]:
test['dFVC'] =test["FVC"]-test["FVC"].shift(1)
test['d%'] = test["Percent"]-test["Percent"].shift(1)
test['Gap'] = test["Weeks"]-test["Weeks"].shift(1)

In [353]:
test.head()

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked
0,ID00419637202311204720264,6,3020,70.186855,73,0,1,0,1,0
1,ID00421637202311550012437,15,2739,82.045291,68,0,1,0,1,0
2,ID00422637202311677017371,6,1930,76.672493,73,0,1,0,1,0
3,ID00423637202312137826377,17,3294,79.258903,72,0,1,0,1,0
4,ID00426637202313170790466,0,2925,71.824968,73,0,1,0,0,1

In [316]:
test.fillna(0,inplace=True)

In [359]:
test['dFVC'] =test["FVC"]-test["FVC"].shift(1)
test['d%'] = test["Percent"]-test["Percent"].shift(1)
test['Gap'] = test["Weeks"]-test["Weeks"].shift(1)

In [360]:
test.head()

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap
0,ID00419637202311204720264,6,3020,70.186855,73,0,1,0,1,0,NaN,NaN,NaN
1,ID00421637202311550012437,15,2739,82.045291,68,0,1,0,1,0,-281.0,11.858436,9.0
2,ID00422637202311677017371,6,1930,76.672493,73,0,1,0,1,0,-809.0,-5.372798,-9.0
3,ID00423637202312137826377,17,3294,79.258903,72,0,1,0,1,0,1364.0,2.586410,11.0
4,ID00426637202313170790466,0,2925,71.824968,73,0,1,0,0,1,-369.0,-7.433935,-17.0

In [237]:
df['dFVC'] =df["FVC"]-df["FVC"].shift(1)

In [238]:
df['d%'] = df["Percent"]-df["Percent"].shift(1)

In [239]:
df['Gap'] = df["Weeks"]-df["Weeks"].shift(1)

In [240]:
df.fillna(0,inplace=True)

In [358]:
train_df.head()

,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,-4,2315,58.253649,79,0,1,0,1,0,0.0,0.000000,0.0,0,1,0
1,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9.0,0,1,0
2,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2.0,0,1,0
3,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2.0,0,1,0
4,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2.0,0,1,0

In [363]:
test=pd.concat([test,pd.get_dummies(test['Age_Cat'],prefix="Age_Cat")],axis=1).drop(['Age_Cat'],axis=1)

In [347]:
test=pd.concat([test,pd.get_dummies(test['Sex'])],axis=1).drop(['Sex'],axis=1)

In [350]:
test=pd.concat([test,pd.get_dummies(test['SmokingStatus'])],axis=1).drop(['SmokingStatus'],axis=1)

In [365]:
test=test.drop("Patient",axis=1)

In [366]:
test.head()

,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,6,3020,70.186855,73,0,1,0,1,0,NaN,NaN,NaN,0,1,0
1,15,2739,82.045291,68,0,1,0,1,0,-281.0,11.858436,9.0,1,0,0
2,6,1930,76.672493,73,0,1,0,1,0,-809.0,-5.372798,-9.0,0,1,0
3,17,3294,79.258903,72,0,1,0,1,0,1364.0,2.586410,11.0,0,0,1
4,0,2925,71.824968,73,0,1,0,0,1,-369.0,-7.433935,-17.0,0,1,0

In [368]:
train_df.head()

,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,-4,2315,58.253649,79,0,1,0,1,0,0.0,0.000000,0.0,0,1,0
1,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9.0,0,1,0
2,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2.0,0,1,0
3,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2.0,0,1,0
4,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2.0,0,1,0

In [380]:
x_test=test.drop("FVC",axis=1)

In [381]:
y_test=test["FVC"]

In [371]:
x_train.head()

,Weeks,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,-4,58.253649,79,0,1,0,1,0,0.0,0.000000,0.0,0,1,0
1,5,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9.0,0,1,0
2,7,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2.0,0,1,0
3,9,53.950679,79,0,1,0,1,0,83.0,2.088576,2.0,0,1,0
4,11,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2.0,0,1,0

In [372]:
y_train.head()

0    2315
1    2214
2    2061
3    2144
4    2069
Name: FVC, dtype: int64

In [373]:
x_test.head()

,Weeks,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,6,70.186855,73,0,1,0,1,0,NaN,NaN,NaN,0,1,0
1,15,82.045291,68,0,1,0,1,0,-281.0,11.858436,9.0,1,0,0
2,6,76.672493,73,0,1,0,1,0,-809.0,-5.372798,-9.0,0,1,0
3,17,79.258903,72,0,1,0,1,0,1364.0,2.586410,11.0,0,0,1
4,0,71.824968,73,0,1,0,0,1,-369.0,-7.433935,-17.0,0,1,0

In [374]:
y_test.head()

0    3020
1    2739
2    1930
3    3294
4    2925
Name: FVC, dtype: int64

In [346]:
test["Female"]=[0,0,0,0,0]

In [349]:
test["Currently smokes"]=[0,0,0,0,0]

In [351]:
train_df.head()

,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,-4,2315,58.253649,79,0,1,0,1,0,0.0,0.000000,0.0,0,1,0
1,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9.0,0,1,0
2,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2.0,0,1,0
3,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2.0,0,1,0
4,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2.0,0,1,0

In [ ]:
test.columns=[Weeks	,FVC	Percent	Age	Female	Male	Currently smokes	Ex-smoker	Never smoked	dFVC	d%	Gap	Age_Cat_0	Age_Cat_1	Age_Cat_2]

In [338]:
np.array(train_df.columns)

array(['Weeks', 'FVC', 'Percent', 'Age', 'Female', 'Male',
       'Currently smokes', 'Ex-smoker', 'Never smoked', 'dFVC', 'd%',
       'Gap', 'Age_Cat_0', 'Age_Cat_1', 'Age_Cat_2'], dtype=object)

In [332]:
test=test.drop("Patient",axis=1)

In [331]:
train_df.head()

,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,-4,2315,58.253649,79,0,1,0,1,0,0.0,0.000000,0.0,0,1,0
1,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9.0,0,1,0
2,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2.0,0,1,0
3,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2.0,0,1,0
4,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2.0,0,1,0

In [242]:
df_1=df[df['Patient']=="ID00007637202177411956430"]

In [243]:
Means=KMeans(n_clusters=3).fit((df["Age"].values).reshape(-1,1))

In [244]:
df["Age_Cat"]=Means.labels_

In [361]:
test["Age_Cat"]=Means.fit_predict((test["Age"].values).reshape(-1,1))

In [247]:
df=pd.concat([df,pd.get_dummies(df['Age_Cat'],prefix="Age_Cat")],axis=1).drop(['Age_Cat'],axis=1)

In [470]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,ID00007637202177411956430,-4,2315,58.253649,79,0,1,0,1,0,0.0,0.000000,0.0,0,1,0
1,ID00007637202177411956430,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9.0,0,1,0
2,ID00007637202177411956430,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2.0,0,1,0
3,ID00007637202177411956430,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2.0,0,1,0
4,ID00007637202177411956430,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2.0,0,1,0

In [471]:
train_df=df.drop("Patient",axis=1)

In [479]:
df["Gap"]= [int(x) for x in df["Gap"]]

In [480]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,ID00007637202177411956430,-4,2315,58.253649,79,0,1,0,1,0,0.0,0.000000,0,0,1,0
1,ID00007637202177411956430,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9,0,1,0
2,ID00007637202177411956430,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2,0,1,0
3,ID00007637202177411956430,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2,0,1,0
4,ID00007637202177411956430,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2,0,1,0

In [473]:
def score(y_true, y_pred):
    tf.dtypes.cast(y_true, tf.float32)
    tf.dtypes.cast(y_pred, tf.float32)
    sigma = y_pred[:, 2] - y_pred[:, 0]
    fvc_pred = y_pred[:, 1]
    sigma_clip = tf.maximum(sigma, C1)
    delta = tf.abs(y_true[:, 0] - fvc_pred)
    delta = tf.minimum(delta, C2)
    sq2 = tf.sqrt( tf.dtypes.cast(2, dtype=tf.float32) )
    metric = (delta / sigma_clip)*sq2 + tf.math.log(sigma_clip* sq2)
    return K.mean(metric)

In [476]:
from sklearn.model_selection import KFold
import tensorflow as tf

In [482]:
# PARAMETERS
n_folds=5

In [484]:
df

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,d%,Gap,Age_Cat_0,Age_Cat_1,Age_Cat_2
0,ID00007637202177411956430,-4,2315,58.253649,79,0,1,0,1,0,0.0,0.000000,0,0,1,0
1,ID00007637202177411956430,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9,0,1,0
2,ID00007637202177411956430,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2,0,1,0
3,ID00007637202177411956430,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2,0,1,0
4,ID00007637202177411956430,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544,ID00426637202313170790466,13,2712,66.594637,73,0,1,0,0,1,-264.0,-6.482664,2,0,1,0
1545,ID00426637202313170790466,19,2978,73.126412,73,0,1,0,0,1,266.0,6.531775,6,0,1,0
1546,ID00426637202313170790466,31,2908,71.407524,73,0,1,0,0,1,-70.0,-1.718888,12,0,1,0
1547,ID00426637202313170790466,43,2975,73.052745,73,0,1,0,0,1,67.0,1.645221,12,0,1,0
1548,ID00426637202313170790466,59,2774,68.117081,73,0,1,0,0,1,-201.0,-4.935664,16,0,1,0

In [483]:
fold=KFold(n_splits=n_folds)

In [487]:
for train , test in fold.split(df):
    print(train,test)

[ 310  311  312 ... 1546 1547 1548] [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309]
[   0    1    2 ... 1546 1547 1548] [310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327
 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345
 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363
 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381
 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399
 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417
 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435
 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453
 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471
 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489
 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507
 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525
 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543
 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561
 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579
 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597
 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615
 616 617 618 619]
[   0    1    2 ... 1546 1547 1548] [620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799
 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817
 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835
 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853
 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871
 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889
 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907
 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925
 926 927 928 929]
[   0    1    2 ... 1546 1547 1548] [ 930  931  932  933  934  935  936  937  938  939  940  941  942  943
  944  945  946  947  948  949  950  951  952  953  954  955  956  957
  958  959  960  961  962  963  964  965  966  967  968  969  970  971
  972  973  974  975  976  977  978  979  980  981  982  983  984  985
  986  987  988  989  990  991  992  993  994  995  996  997  998  999
 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013
 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027
 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041
 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055
 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069
 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083
 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097
 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111
 1112 1113 1114 1115 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125
 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139
 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153
 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167
 1168 1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181
 1182 1183 1184 1185 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195
 1196 1197 1198 1199 1200 1201 1202 1203 1204 1205 1206 1207 1208 1209
 1210 1211 1212 1213 1214 1215 1216 1217 1218 1219 1220 1221 1222 1223
 1224 1225 1226 1227 1228 1229 1230 1231 1232 1233 1234 1235 1236 1237
 1238 1239]
[   0    1    2 ... 1237 1238 1239] [1240 1241 1242 1243 1244 1245 1246 1247 1248 1249 1250 1251 1252 1253
 1254 1255 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265 1266 1267
 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280 1281
 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293 1294 1295
 1296 1297 1298 1299 1300 1301 1302 1303 1304 1305 1306 1307 1308 1309
 1310 1311 1312 1313 1314 1315 1316 1317 1318 1319 1320 1321 1322 1323
 1324 1325 1326 1327 1328 1329 1330 1331 1332 1333 1334 1335 1336 1337
 1338 1339 1340 1341 1342 1343 1344 1345 1346 1347 1348 1349 1350 1351
 1352 1353 1354 1355 1356 1357 1358 1359 1360 1361 1362 1363 1364 1365
 1366 1367 1368 1369 1370 1371 1372 1373 1374 1375 1376 1377 1378 1379
 1380 1381 1382 1383 1384 1385 1386 1387 1388 1389 1390 1391 1392 1393
 1394 1395 1396 1397 1398 1399 1400 1401 1402 1403 1404 1405 1406 1407
 1408 1409 1410 1411 1412 1413 1414 1415 1416 1417 1418 1419 1420 1421
 1422 1423 1424 1425 1426 1427 1428 1429 1430 1431 1432 1433 1434 1435
 1436 1437 1438 1439 1440 1441 1442 1443 1444 1445 1446 1447 1448 1449
 1450 1451 1452 1453 1454 1455 1456 1457 1458 1459 1460 1461 1462 1463
 1464 1465 1466 1467 1468 1469 1470 1471 1472 1473 1474 1475 1476 1477
 1478 1479 1480 1481 1482 1483 1484 1485 1486 1487 1488 1489 1490 1491
 1492 1493 1494 1495 1496 1497 1498 1499 1500 1501 1502 1503 1504 1505
 1506 1507 1508 1509 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519
 1520 1521 1522 1523 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533
 1534 1535 1536 1537 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547
 1548]